.loader {
  display: inline-block;
  font-size: 0;
  animation: spin 1.5s infinite forwards linear;

  svg {
    width: 36px;
    height: 36px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}